
data/Issue/Bibliothek/ingest.log
*.log
gamsdev/css/goldschatten.png
data/Correspondence/preprocessing/getCorrespondenceFromGoogleSpreadsheet/credentials.json
data/Correspondence/preprocessing/getCorrespondenceFromGoogleSpreadsheet/googleapi.json
data/Correspondence/preprocessing/getCorrespondenceFromGoogleSpreadsheet/token.pickle
data/Index/Werke/preprocessing/credentials.json
data/Index/Werke/preprocessing/token.pickle
data/Index/Werke/preprocessing/token.pickle
data/Index/Werke/preprocessing/credentials.json
data/Index/Werke/preprocessing/token.pickle
data/Index/Werke/preprocessing/token.pickle
data/Index/Werke/preprocessing/credentials.json
