.form-control::-webkit-input-placeholder { color: #c3a461; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #c3a461; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #c3a461; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #c3a461; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #c3a461; }  /* Microsoft Edge */

.nav-link
{
    color: #5d1337;
}

/* mobile nav button */
.navbar-toggler
{
   background-color: #631a34 !important;
}

.navtext{
    line-height: 45pt;
    margin-left: 18px;
    font-size: 16px;
    color: #631a34 !important;
}

/* li.navbar_li
{
    z-index: 1001;
    font-size:14px;
} */



/*Navbar:=============================*/

nav.navbar {
    /* eckige Navbar*/
    border-radius: 0;
    background-color: #f2f2f2;
/*    margin-bottom: 30px;*/
}
nav.navbar,
ul.navbar-nav {
    
    padding: 0px;
}


a.nav-link {
    color: #ffffff !important;
    font-weight: bold;
    border: none;
/*    margin: 5px 15px 5px 15px;*/
padding: 15px 20px 15px 20px !important;
}

/*Dropdown=============================*/
a.dropdown-item:hover,
a.dropdown-item:focus {
    color: black;
    text-decoration: none;
    background-color: #e3e3e3 !important;
}
div.dropdown-divider {
    margin: 0;
}

li.dropdown > div.dropdown-menu {
    margin: 0;
    padding: 0;
    border: 1px;
    font-size: 14px;
    color: #631a34 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0;
}

@media (min-width: 768px) {.dropdown:hover >.dropdown-menu {display: block;}}



/*Mobile View===========================*/
a.navbar-brand {
    padding: 15px;
    color:#ffffff !important;
   
}

.navbar-toggler {border-radius:0;
margin-right:15px}

div.navbar-collapse.show {
    margin: 0px 15px 20px 15px;
     border-top:1px white solid;
}

div.navbar-collapse.show > form {
    margin-left: 0px;
    margin-top:10px;
}

/* suchfeld */

div.navbar-collapse button.btn {
    background-color:white; 
    color:#475862;
    border: 1px solid #ced4da;
}
